<div class="page-container">
    <header>
        <div class="header-content">
            <h1>BuildBooks</h1>
            <p>Your Construction Project Management Solution</p>
        </div>


        <nav class="nav-links">
            <ul>
                <% if (userIsLoggedIn) { %>
                    <!-- Add links for logged-in users here -->
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <!-- Add links for non-logged-in users here -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <% } %>
            </ul>
        </nav>


    </header>