<% layout('layout.ejs') %>

    <main class="reset-password-page">
        <div class="reset-password-form-container">
            <h1>Reset Password</h1>
            <form action="/reset-password/<%= token %>" method="POST">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </main>